body {
  background-image: url("./assets/nature.jpg")
}

.App {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  /* color of text */
  color: white;
}

.urlShort {
  display: grid;
  align-content: space-between;
  row-gap: 0%;
}

.urlShortBox {
  display: grid;
  grid-column-start: 1;
  justify-content: center;
  align-content: center;
}

.lineBreaker {

}

.urlExplain {
  display: grid;
  grid-column-start: 3;
  margin-left: 9%;
  margin-right: 9%;
  align-content: center;
}

.bodyText {
  font-size: 1.5vh;
}

.header {
  font-size: 1.7vh;
}

.linkInput {
  background-color: white;
}

@media only screen and (max-width: 800px) {
}
