.urlShort {
  display: grid;
  align-content: space-between;
  row-gap: 0%;
}

.urlShortBox {
  background-color: #7aa66d;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  justify-content: center;
  align-content: center;
}

.urlExplain {
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  margin-left: 9%;
  margin-right: 9%;
  align-content: center;
}

.picture {
  grid-row-start: 1;
  grid-row-end: 3;
  width: 65vw;
  height: 100vh;
  object-fit: cover;
}

.bodyText {
  font-size: 1.5vh;
}

.header {
  font-size: 1.7vh;
}

@media only screen and (max-width: 800px) {
  .urlShortBox {
    height: 25vh;
  }

  .urlExplain {
    grid-row-start: 3;
    grid-row-end: 3;
    display: grid;
    margin-left: 9%;
    margin-right: 9%;
    align-content: center;
  }

  .picture {
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }
}
